[user]
	name = Mahbubur Rahman
	email = mahbubur001@gmail.com
[core]
    editor = nvim
	excludesfile = /Users/mahbubur/.gitignore_global
[pull]
    ff = only
[init]
	defaultBranch = main
[merge]
	conflictstyle = diff3
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
