nvim/.config/nvim/plugin/
nvim/.config/nvim/.github/
nvim/.config/nvim/examples/
nvim/.config/nvim/LICENSE
fish/.config/fish/fish_variables
tmux/.config/tmux/plugins/
.gitignore
nvim/.config/nvim/sessions/
.luarc.json
**.cache
